backend/llama/**/*.cpp linguist-vendored
backend/llama/**/*.hpp linguist-vendored
backend/llama/**/*.h linguist-vendored
backend/llama/**/*.c linguist-vendored
backend/llama/**/*.cu linguist-vendored
backend/llama/**/*.cuh linguist-vendored
backend/llama/**/*.m linguist-vendored
backend/llama/**/*.metal linguist-vendored

backend/ml/backend/**/*.c linguist-vendored
backend/ml/backend/**/*.h linguist-vendored
backend/ml/backend/**/*.cpp linguist-vendored
backend/ml/backend/**/*.hpp linguist-vendored
backend/ml/backend/**/*.cu linguist-vendored
backend/ml/backend/**/*.cuh linguist-vendored
backend/ml/backend/**/*.m linguist-vendored
backend/ml/backend/**/*.metal linguist-vendored
backend/ml/backend/**/*.comp linguist-vendored
backend/ml/backend/**/*.glsl linguist-vendored
backend/ml/backend/**/CMakeLists.txt linguist-vendored

app/webview linguist-vendored

backend/llama/build-info.cpp linguist-generated
backend/ml/backend/ggml/ggml/src/ggml-metal/ggml-metal-embed.s linguist-generated

* text=auto
*.go text eol=lf
